* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecb4b4;
}

.container {
    margin: 15%;
    width: 85%;
    max-width: 650px;
    margin-bottom: 0;
}

#displaypassword {
    width: 15%;
    height: 40px;
    border: solid black 2px;
    margin: 15%;
    margin-right: 0;
    margin-top: 0;
}